:root {
	--brand-color: #4d5ae5;
	--snow: white;
	--almost-black: #2E2F42;
	--mouse: #757575;
	--almost-white: #f5f4fa;
	--dark-grey: #2f303a;
	--light: #ececec;
}

body {
	font-family: Roboto, sans-serif;
	color: #434455;
	background-color: #FFF;
	margin: 0 auto;
}

ul {
	list-style-type: none;
	padding: 0;
}

h3 {
	margin: 0 auto;
}

h4 {
	margin: 0 auto;
}

section {
	padding-block: 120px;
}


.logo-dark {
	font-family: raleway;
	color: var(--almost-black);
	text-decoration: none;
	font-size: 18px;
	font-weight: 800;
	line-height: 21px;
	letter-spacing: 0.54px;
	vertical-align: top;
	text-align: left;
}
.logo-light {
	font-family: raleway;
	color: var(--snow);
	text-decoration: none;
	font-size: 18px;
	font-weight: 800;
	line-height: 21px;
	letter-spacing: 0.54px;
	vertical-align: top;
	text-align: left;
	padding-left: 200px;
}
.logo-part {
	color: var(--brand-color);
}
.link {
	color: var(--almost-black);
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.32px;
	vertical-align: top;
	text-align: left;
}
.link:hover,
.link:focus,
.link:active {
	color: var(--brand-color);
}
.background {
	background-color: #2e2f42;
	padding: 200px 252px 200px 252px;
}
.background-bottom {
	background-color: #2E2F42;
	margin: 0 auto;
	height: 192px;
	padding-top: 60px;
}
.container-black {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.text-content {
	color: var(--snow);
	font-size: 56px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: 1.12px;
	text-align: center;
	width: 496px;
}
.order-service {
	background-color: #F4F4FD;
	border: var(--brand-color);
	border-radius: 4px;
	color: #4d5ae5;
	cursor: pointer;
	width: 200px;
	gap: 10px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.64px;
	vertical-align: top;
	text-align: center;
	padding: 16px 32px 16px 32px;
}
.order-service:hover,
.order-service:focus{
	background-color: #4D5AE5;
    color:#FFFFFF;
}
.title-style {
	font-size: 20px;
	font-weight: 500px;
	line-height: 1.2;
	letter-spacing: 0.4px;
	vertical-align: top;
	text-align: left;
}
.text-style {
	font-family: roboto;
	color: var(--mouse);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.32px;
	vertical-align: top;
	text-align: left;
}
.specialty {
	color: #2E2F42;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.72px;
	vertical-align: top;
	text-align: center;
	padding-bottom: 72px;

}
.grey {
	background-color: #F4F4FD;
	margin: 0 auto;
}
.name {
	font-size: 16px;
	font-weight: 500;
	line-height: 1, 2;
	letter-spacing: 3%;
	vertical-align: top;
	text-align: center;
}
.position {
	color: var(--mouse);
	font-size: 16px;
	line-height: 1, 2;
	letter-spacing: 3%;
	vertical-align: top;
	text-align: center;
}
.address-style {
	color: var(--snow);
	text-decoration: none;
	font-size: 14px;
	line-height: 1, 7;
	letter-spacing: 3%;
	vertical-align: top;
	text-align: left;
	padding-top: 20px;
	width: 246px;
	padding-left: 200px;
}
.link-footer {
	color: var(--snow);
	text-decoration: none;
	font-size: 14px;
	line-height: 1, 7;
	letter-spacing: 3%;
	vertical-align: top;
	text-align: left;
	padding-left: 200px;
}
.link-footer:hover,
.link-footer:focus,
.link-footer:active {
	color: var(--brand-color);
}

.button-design {
	background-color: #F4F4FD;
	color: var(--brand-color);
	border: var(--almost-white);
	cursor: pointer;
	width: 114px;
	height: 38px;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.64px;
	vertical-align: top;
	text-align: center;
	border-radius: 4px;
}
.button-design:hover,
.button-design:focus,
.button-design:active {
	color: var(--snow);
	background-color: var(--brand-color);
}
.project-name {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.4px;
	vertical-align: top;
	text-align: left;
}
.project-type {
	color: #434455;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: 0.32px;
	vertical-align: top;
	text-align: left;
}
.flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 72px;
}
.bottom-line {
	border: var(--light) solid 1px;
}
.flex-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	max-width: 261px;
	margin-left: 76px;
	margin-right: 332px;
}
.flex-adress {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
}
.link-color {
	color: #434455;
	font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;

}
.container {
	width: 1158px;
	margin: 0 auto;
}
.card-set {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 24px;
}
.item {
	background-color: var(--snow);
gap: 24px;
}

.specialty-pics {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	padding: 0;
}
.specialty-pics:last-child {
	margin: unset;
}

.frame {
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
	padding: 0;
}
.menu {
	display: flex;
	justify-content: center;
	gap: 24px;
	padding-bottom: 72px;
}
.button-item {
	justify-content: space-between;
}
.menu-set {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
}
.bottom-frame {
	padding-left: 24px;
	border: 1px solid var(--light);
	border-top: none;
}

.section{
	padding-top: 120px;
	padding-bottom: 120px;
}